@(canciones: List[CancionEntity])
@import helper._
@plantilla("Canciones"){
    <div class="tabla">
        <div class="cabecera">
            <a class="btn btn-primary btn-block" href="@routes.SuperController.adicionarCancion()">Agregar cancion</a>
        </div>
        <div class="filas">
        @for(cancion <- canciones){
            <div class="fila">
                <p>@cancion.getdNombre()</p>
                <audio src="@cancion.getdUri()" controls>
                    Your browser does not support audio.
                </audio>
                @helper.form(action = helper.CSRF(routes.SuperController.eliminarCancion(cancion.getcId()))){
                    <input class="btn btn-danger" type="submit" value="Eliminar">
                }
            </div>
        }
        </div>
    </div>
}