@()
<!-- http://paletton.com/#uid=52T0u0kkzlza5w8flqFpmgEuRbg -->
@plantilla("App"){
    <div id="main">
        <a href="@routes.SuperController.mostrarUsuarios()">
            <div class="carta">
                <i class="fa fa-user fa-5x" ></i>
                <h1>Usuarios</h1>
            </div>
        </a>
        <a href="@routes.SuperController.mostrarCanciones()">
            <div class="carta">
                <i class="fa fa-music fa-5x" ></i>
                <h1>Canciones</h1>
            </div>
        </a>
    </div>
}