@(titulo: String)(cuerpo: Html)


<html>
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/font-awesome-4.7.0/css/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-4.0.0-beta-dist/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="@routes.Assets.versioned("javascripts/jquery-3.2.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
        <title>@titulo</title>
    </head>
    <body>
        <div class="alert alert-success">
            <Strong>@SuperController.darSesionActual()</Strong>
            <a href="@routes.SuperController.cerrarSesion()">
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </a>
        </div>          
        @cuerpo
    </body>
</html>